@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


body{
    background: #1c1e21 url('../images/bg_login.jpg');
    background-size: cover;
}

body, button, *{
    font-family: IRANSans !important;
}

body, html, input {
    height:100%;
    /*background: #1c1e21;*/
    overflow-x: hidden;
    font-family: IRANSans  !important;;
}

a{
    cursor: pointer;
}

a:hover{
    opacity: 0.7;
}

btn {
    border-radius: 0
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
    border-radius: 0
}



.btn-larger {
    padding: 15px 40px !important;
    border:2px solid #F7CA18 !important;;
    border-radius: 0px !important;;
    text-transform: uppercase;
    /*font-family: 'Dosis', sans-serif;*/
    font-size: 18px;
    font-weight: 300;
    color: #F7CA18;
    background-color: transparent;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    cursor: pointer;

}
.btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
    border-color: #F7CA18;
    color: #fff;
    background-color: #F7CA18;
    border-radius: 0
}
.btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
    background-image: none;
}
.btn-larger.disabled, .btn-larger[disabled], fieldset[disabled] .btn-larger, .btn-larger.disabled:hover, .btn-larger[disabled]:hover, fieldset[disabled] .btn-larger:hover, .btn-larger.disabled:focus, .btn-larger[disabled]:focus, fieldset[disabled] .btn-larger:focus, .btn-larger.disabled:active, .btn-larger[disabled]:active, fieldset[disabled] .btn-larger:active, .btn-larger.disabled.active, .btn-larger[disabled].active, fieldset[disabled] .btn-larger.active {
    border-color: #AEA8D3;
    background-color: #AEA8D3;
}
.btn-larger .badge {
    color: #AEA8D3;
    background-color: #fff;
}

.container {
    width:100%;
}
#form, #main-bg, #app {
    height: 100%;
}

form {
    color: #fff;
    background-attachment: scroll;
    /*background: #1c1e21 url('../images/bg_login.jpg');*/
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height:100%;

}

#userform p {
    font-size: 14px;
    margin-bottom: 5px;
}
#userform ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}
#userform {
    background: rgba(0,0,0,0.8);
    margin: 20px 0 20px 0
}
@media (min-width: 768px) {
    #userform {
        background: rgba(0,0,0,0.8);
        margin: 50px 0 20px 0
    }
}
#userform .nav-tabs.nav-justified > li > a {
    text-transform: uppercase;
    font-size: 20px;
    color: #F7CA18;
    background-color: rgba(90,90,90,0.5);
}
#userform .nav-tabs.nav-justified > .active > a, #userform .nav-tabs.nav-justified > .active > a:hover, #userform .nav-tabs.nav-justified > .active > a:focus {
    border: 0;
    background: #F7CA18;
    color: white;
    border-radius: 0;
}
#userform .nav-justified > li > a {
    margin-bottom: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}
#userform .nav-justified > li > a:hover {
    background: #AEA8D3;
    color: #FFF;
}
#userform .nav-tabs > li > a {
    border: 0px solid transparent;
    border-radius: 0
}
#userform .nav-tabs.nav-justified > li > a:hover {
    background: #F7CA18;
    color: #FFF;
    border-radius: 0;
    border: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}
#userform .nav-tabs > li.active > a, #userform .nav-tabs > li.active > a:hover, #userform .nav-tabs > li.active > a:focus {
    color: #F7CA18;
    cursor: default;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}
@media (min-width: 768px) {
    #userform .nav-tabs.nav-justified > li > a {
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
    #userform .nav-tabs.nav-justified > li > a:hover {
        background-color: #F7CA18;
        border-color: transparent;
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
}
@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell !important;
        width: 1% !important;
    }
}
#userform .nav-tabs {
    border-bottom: 0px solid #ddd;
}
#userform .tab-pane h2 {
    margin: 10px 0;
    color: #FFF;
}
#userform .tab-pane p.lead {
    margin-top: 20px;
}
#userform .tab-content {
    padding: 20px
}
#userform .form-group {
    margin-bottom: 0px;
    color: #FFF;
}
#userform .form-group input, #userform .form-group textarea {
    padding: 10px;
}
#userform .form-group input.form-control {
    height: auto;
    background-color: rgba(237, 235, 250, 0.1);
    color: #FFF;
}
#userform .form-control {
    border-radius: 0;
    border: 1px solid #fff;
}
#userform .form-control:focus {
    border-color: #F7CA18;
    box-shadow: none;
}
#userform::-webkit-input-placeholder {
    text-transform: uppercase;
    /*font-family: 'Dosis', sans-serif;*/
    font-weight: 700;
    color: #bbb;
}
#userform #signup .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    right: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300;
    float: right;
}
#userform #signup .form-group label .req {
    margin: 2px;
    color: #F7CA18;
}
#userform #signup .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}
#userform #signup .form-group label.active .req {
    opacity: 0;
}
#userform label.highlight {
    color: #ffffff;
}
#userform #login .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    right: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300;
    float: right;
}
#userform #login .form-group label .req {
    margin: 2px;
    color: #F7CA18;
}
#userform #login .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}
#userform #login .form-group label.active .req {
    opacity: 0;
}

.mrgn-30-top {
    margin-top: 30px
}

.login-signup-url {
    color: #F7CA18 !important;
    padding-top: 20px;
    display: block;
    text-align: center;
    text-decoration-line: none !important;
}

#map{
    width: 100%;
    min-height:80%;
    position: relative;
}
a{
    color: #f5d349;
}
.search-box {
    width: 100%;
    height: 60px;
    position: absolute;
    top:0;
    background-color: #000;
}

.map-menu, .map-back{
    float: right;
    width: 10%;
    line-height: 70px;
    color: #f7d34a;
    font-size: 30px;
    cursor: pointer;
}

.map-menu:hover, .map-back:hover{
    opacity: 0.8;
}
.map-search{
    float: right;
    width: 80%;
}
.map-search input{
    width: 100%;
    text-align: center;
    height: 60px;
    border: none;
    border-color: transparent;
    outline: none;
    background: #000;
    color: #fff;
}

.bottom-section{
    position: absolute;
    bottom: 0;
    min-height: 50px;
    width:100%;
    background-color: #000;
    /*opacity: 0.84;*/
    color: #ffffff;
}

.bottom-section b {
    color: #f8d036;
}

.source-text{
    float: right;
    width:40%;
    min-height: 50px;
    line-height: 50px;
    /*border-bottom: 2px solid #F7CA18;*/
}
.source-text span {
    font-size: 13px;
}
.price-text{
    float: right;
    width:20%;
    min-height: 50px;
    line-height: 50px;
    border-right: 2px solid #F7CA18;
    color: #17bbff;
    position: relative;
}
.destination-text{
    float: left;
    width:40%;
    min-height: 50px;
    line-height: 50px;
    border-right: 2px solid #F7CA18;
}

.destination-text span {
    font-size: 13px;
}
.marker-png{
    position: absolute;
    left:50%;
    top:50%;
    width:50px;
    cursor: pointer;
}

.send-request-btn{
    width: 100%;
    height: 50px;
    background-color: #F7CA18;
    color: #000;
    top: -50px;
    position: absolute;
    cursor: pointer;
}

.send-request-btn:hover {
    background-color: #e6bb13;
}

.bg-sidebar {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.right-sidebar {
    width:250px;
    min-height: 100%;
    background-color: #000;
    color: #ffffff;
    position: absolute;
    right:0;
    top: 0;
    z-index: 9;
    padding-top: 30px;
}

.right-sidebar h5 {
    margin-top: 10px;
}

.right-sidebar hr {
    border-color: #F7CA18;
}

.taxi-logo {
    width: 25%;
}
ul {
    list-style: none;
}

li{
    color: #F7CA18;
    text-align: right;
    cursor: pointer;
    border-bottom: 1px dashed #f7ca188c;
    padding: 8px 10px;
}
li:hover {
    opacity: 0.8;
}

.taxi-gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url(/static/taxi2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #4e8bf3;
    color: #fff;
    padding-top: 30px;
}

.bottom-desc {
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.accepted_modal_container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.7;
    z-index: 9;
}
.accepted_modal{
    width: 50%;
    height: 60%;
    position: absolute;
    left: 25%;
    top: 20%;
    background-color: #cccccc;
    z-index: 10;
    padding-top: 20px;
}
.price-box {
    text-align: center;
    padding: 20px;
    background-color: #FFEB3B;
    margin-top: 10px;
}

.btn-x {
    background-color: #000000;
    color: #ffec3b;
    cursor: pointer;
}

.btn-y {
    background-color: #009688;
    color: #FFF;
    cursor: pointer;
}
.btn-x:hover, .btn-y:hover {
    opacity: 0.8;
}
.payment_alert {
    position: absolute;
    z-index: 90;
    width: 60%;
    left: 20%;
    top:40%;
    background: white;
    padding: 20px;
}
.finish_alert {
    position: absolute;
    z-index: 90;
    width: 60%;
    left: 20%;
    top:20%;
    background: white;
    padding: 20px;
}
.payment_alert a{
    color: #fff !important;;
}
.payment_alert_background{
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
    background: #989898;
}
.comment_box input[type=checkbox] {
    width: 10px;
    height: 10px;
}

.comment_box {
    padding: 20px 0 0 0;
}
.star_icon{
    cursor: pointer;
    font-size: 30px;
}
.bg_opacity{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position:absolute;
    z-index: 10;
}
.table td{
    vertical-align: middle;
}
.table tbody td{
    font-size: 13px;
    vertical-align: middle;
}
.red_text {
    color: #db0000;
}
.green_text {
    color: #08b400;
}

.close {
    margin: 0 !important;
    padding: 0 !important;
}
.no-padding{
    padding: 0 !important;
}
.message-box{
    background-color: #f7ca18bf;
    color: #000;
    margin-bottom: 10px;
    padding: 20px 10px;
    border-radius: 10px;
}
.address-box{
    background-color: #89f7e4bf;
    color: #000;
    margin-bottom: 10px;
    padding: 20px 10px;
    border-radius: 10px;
}
.edit-address{
    color:#0548ff;
    cursor: pointer;
}