<template>
    <div>
        <div class="accepted_modal_container"></div>
        <div class="accepted_modal" style="padding: 40px 20px 20px;">
            <h4>
                درخواست سفر شما توسط
                {{ accepted_driver.full_name }}
                تایید شد
            </h4>
            <div class="col-md-6 col-xs-6" style="margin-top: 40px">

                <img style="margin-bottom: 10px;width: 70px" v-bind:src="accepted_driver.image" alt="">
                <div>
                    <span>نام راننده: </span>
                    <b>{{ accepted_driver.full_name }}</b>
                    <br>
                    <span>شماره همراه: </span>
                    <b>{{ accepted_driver.mobile }}</b>
                </div>
                <div><span>خودرو: </span><b>{{ accepted_driver.car }}</b></div>
                <div><span>پلاک خودرو: </span><b>{{ accepted_driver.car_number }}</b></div>
            </div>
            <div class="col-md-6 col-xs-6 price-box" style="margin-top: 40px">
                <span><b>{{ $parent.price}}</b> ریال</span>
                <div class="form-group" v-if="!is_paied">
                    <input type="text" name="discount_code" id="discount_code" class="form-control" style="text-align: center" placeholder="کد تخفیف">
                </div>
                <div class="form-group" v-if="!is_paied">
                    <input type="button" class="form-control btn btn-x" value="اعمال تخفیف">
                </div>
            </div>

            <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 50px">
                <button class="btn btn-y" v-on:click="cancelTrip" v-if="!is_paied && !$parent.trip_started" >انصراف</button>
                <button class="btn btn-y" v-on:click="onlinePay" v-if="!is_paied && !$parent.trip_finished">پرداخت آنلاین</button>
                <span class="btn btn-x" v-on:click="onlinePay" v-if="is_paied">پرداخت شده</span>
                <button class="btn btn-y">خبر دادن</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "accept-trip",
        data() {
            return {
                accepted_driver : {
                    full_name: 'bahman Alidadi',
                    image: 'http://portal.uberirani.com/web/Uploads/DriverAttachments/153266620460user_default.png',
                    mobile: '09376235644',
                    car: 'Pegoat 206',
                    car_number: '12ب34511'
                },
                is_paied: false
            }
        },
        methods:{
            cancelTrip(){
                this.$emit('cancel-trip');
            },
            onlinePay(){
                this.$emit('online-pay');
            }
        }
    }
</script>

<style scoped>

</style>