<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">تکمیل اطلاعات</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="close_form">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="margin: 10px 0 30px; text-align: right;font-size: 20px;">
                            اطلاعات کاربری خود را ویرایش کنید
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="full_name">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" id="full_name" v-bind:value="$parent.$parent.user.name" v-on:change="update_user_data">
                            </div>
                            <div class="form-group">
                                <label for="mobile">تلفن همراه</label>
                                <input type="text" class="form-control" id="mobile"  v-bind:value="$parent.$parent.user.mobile" v-on:change="update_user_data">
                            </div>
                            <div class="form-group">
                                <label for="phone">تلفن ثابت (همراه کد)</label>
                                <input type="text" class="form-control" id="phone"  v-bind:value="$parent.$parent.user.phone" v-on:change="update_user_data">
                            </div>
                            <div class="form-group">
                                <label for="email">ایمیل</label>
                                <input type="text" class="form-control" id="email" v-bind:value="$parent.$parent.user.email" v-on:change="update_user_data">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">جنسیت</label>
                                <select name="gender" class="form-control" id="gender" v-on:change="update_user_data">
                                    <option value="" v-bind:selected="$parent.$parent.user.gender == ''">-----</option>
                                    <option value="male" v-bind:selected="$parent.$parent.user.gender == 'male'">مرد</option>
                                    <option value="female" v-bind:selected="$parent.$parent.user.gender == 'female'">زن</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>تاریخ تولد</label>
                                <input type="hidden" class="form-control" id="birthday" v-bind:value="$parent.$parent.user.birth_date">
                                <date-picker v-model="date" :color="datepicker_color" @change="set_tiemstamp"></date-picker>
                            </div>
                            <div class="form-group">
                                <label for="address">آدرس</label>
                                <textarea rows="5" class="form-control" id="address" v-on:change="update_user_data">{{ $parent.$parent.user.address }}</textarea>
                            </div>
                        </div>
                        <button class="btn btn-success col-md-12" v-on:click="save_info">ذخیره اطلاعات</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker'

    export default {
        name: "complete-info",
        data(){
            return {
                date: this.persian_date(),
                datepicker_color: '#F7CA18'
            }
        },
        components: {
            datePicker: VuePersianDatetimePicker
        },
        methods: {
            close_form() {
                this.$parent.active_complete_info = false;
            },
            update_user_data(){
                this.$parent.$parent.user.name = $('#full_name').val();
                this.$parent.$parent.user.mobile = $('#mobile').val();
                this.$parent.$parent.user.phone = $('#phone').val();
                this.$parent.$parent.user.email = $('#email').val();
                this.$parent.$parent.user.address = $('#address').val();
                this.$parent.$parent.user.gender = $('#gender').val();
            },
            set_tiemstamp(e){
                this.$parent.$parent.user.birth_date = e._d.getFullYear()+'-'+(e._d.getMonth()+1)+'-'+e._d.getDate();
            },
            persian_date(date){
                return $('#j_birth_date').text();
            },
            save_info(){
                this.$emit('save-info');
            }
        }
    }
</script>

<style scoped>
    .vpd-input-group {
        background-color: #F7CA18;
    }
</style>