<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">آدرس های ثبت شده</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="close_form">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-4 btn btn-warning" style="margin: 0 auto 20px; float: none;" v-on:click="add_edit_favorite_address(0)">ثبت آدرس جدید</div>
                        <div class="col-md-12" v-for="item in $parent.favorite_addresses">
                            <div class="col-md-12 address-box">
                                <div class="col-md-12 no-padding" style="border-bottom: 1px solid #ccc;">
                                    <div class="col-md-6 no-padding" style="text-align: right"><b>{{ item.title }}</b><small style="padding-right: 10px" dir="ltr">({{ item.latitude + ', ' + item.longitude }})</small></div>
                                    <div class="col-md-6 no-padding">
                                        <small class="col-md-8 no-padding edit-address" style="color: #009000" v-on:click="set_as_source_destination(item.latitude, item.longitude)" v-if="!$parent.source_selected || !$parent.destination_selected"> {{ !$parent.source_selected ? 'انتخاب به عنوان مبدا': 'انتخاب به عنوان مقصد'  }} </small>
                                        <small class="edit-address col-md-2 no-padding" style="float: left;color: red" v-on:click="remove_favorite_address(item.id)">
                                            حذف
                                        </small>
                                        <small class="edit-address col-md-2 no-padding" style="float: left;" v-on:click="add_edit_favorite_address(item.id)">
                                            ویرایش
                                        </small>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div class="col-md-4 no-padding" style="text-align: left"></div>
                                </div>
                                <div class="col-md-8 no-padding" style="font-size: 14px;text-align: right">{{ item.address }}</div>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="address_modal" class="modal" style="overflow: scroll;" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ویرایش آدرس</h4>
                        <button type="button" class="close" data-dismiss="modal" >&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label for="title">عنوان</label>
                                <input type="text" class="form-control" name="title" id="title" v-bind:value="selected_address.title" v-on:change="update_address">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="address">آدرس</label>
                                <textarea name="" id="address" cols="30" rows="3" class="form-control" v-on:change="update_address">{{ selected_address.address }}</textarea>
                            </div>
                            <input type="text" id="lat_long" readonly="readonly" class="form-control" dir="ltr" style="text-align: right;margin-bottom: 10px" v-bind:value="selected_address.latitude + ', '+ selected_address.longitude">
                            <div class="google-map" id="address_map"></div>
                            <button class="btn btn-success col-md-12" style="margin-top: 10px" v-on:click="save_address">ذخیره</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "favorite-addresses",
        data() {
            return {
                map: null,
                address_marker: null,
                selected_address: {
                    id: 0,
                    title: '',
                    address: '',
                    latitude: 35.688698,
                    longitude: 51.392216,
                },
            }
        },
        mounted: function () {
            let that = this;
            const element = document.getElementById('address_map');
            const options = {
                mapTypeId: 'roadmap',
                zoom: 14,
                center: new google.maps.LatLng(35.688698, 51.392216),
                disableDefaultUI: true,
            };
            this.map = new google.maps.Map(element, options);

            const position = new google.maps.LatLng(this.selected_address.latitude, this.selected_address.longitude);
            this.address_marker = new google.maps.Marker({
                position: position,
                // icon: source_icon,
                map: this.map,
                draggable: true,
            });

            this.address_marker.addListener('dragend', function (event) {
                that.selected_address.latitude = event.latLng.lat();
                that.selected_address.longitude = event.latLng.lng();
            });
        },
        methods: {
            close_form() {
                this.$parent.active_favorite_address = false;
                this.$parent.favorite_addresses = [];
            },
            remove_favorite_address(id){
                this.$emit('remove-favorite-address', {id:id});
            },
            add_edit_favorite_address(id){
                let that = this;
                $('#address_modal').modal('show');

                if(id != 0){
                    let fav_addresses = this.$parent.favorite_addresses;
                    for(let i=0; i<fav_addresses.length; i++){
                        if(fav_addresses[i].id == id){
                            this.selected_address = fav_addresses[i];
                        }
                    }
                }

                const position = new google.maps.LatLng(this.selected_address.latitude, this.selected_address.longitude);
                this.map.setCenter(position);
                that.address_marker.setPosition(position);
            },
            save_address(){
                $('#address_modal').modal('hide');
                this.$emit('save_favorite_address', this.selected_address);
            },
            update_address() {
                this.selected_address.title = $('#title').val();
                this.selected_address.address = $('#address').val();
            },
            set_as_source_destination(lat,long) {
                const position = new google.maps.LatLng(lat, long);
                this.$parent.map.setCenter(position);
                let that = this;
                if(!this.$parent.source_selected){
                    this.$parent.source_marker.setPosition(position);
                    setTimeout(function () {
                        google.maps.event.trigger(that.$parent.source_marker, 'click');
                    }, 100)
                }
                else if(!this.$parent.destination_selected){
                    this.$parent.destination_marker.setPosition(position);
                    setTimeout(function () {
                        google.maps.event.trigger(that.$parent.destination_marker, 'click');
                    }, 100)
                }
                else{
                    return false;
                }

                this.close_form();
                this.$parent.showRightMenu(false);
            }
        }
    }
</script>

<style scoped>
    .form-group {
        text-align: right;
    }
    .google-map {
        height: 500px;
        margin: 0 auto;
        background: gray;
    }

</style>
