<template>
    <div id="form">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
                <div id="userform">
                    <div class="tab-content">
                        <div class="tab-pane active in" id="login" v-if="isLogin">
                            <h2 class="text-uppercase text-center">ورود در تاکسی یاب</h2>
                            <!--<form id="login2">-->
                                <div class="form-group">
                                    <label><span class="req">*</span> شماره موبایل</label>
                                    <input v-model="mobile" type="mobile" class="form-control" id="mobile" required data-validation-required-message="Please enter your email address." autocomplete="off">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label><span class="req">*</span> رمز عبور</label>
                                    <input v-model="password" type="password" class="form-control" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="mrgn-30-top">
                                    <button v-on:click="sendLogin" class="btn btn-larger btn-block">
                                    ورود
                                    </button>
                                </div>
                            <!--</form>-->
                            <a v-on:click="toggle_show" class="login-signup-url" role="tab" data-toggle="tab">در تاکسی یاب حساب کاربری ندارید؟</a>
                            <a v-on:click="show_forget" class="login-signup-url" role="tab" data-toggle="tab">رمز عبور خود را فراموش کرده اید؟</a>
                        </div>
                        <div class="tab-pane active in" id="signup" v-if="!isLogin && !isForget" >
                            <h2 class="text-uppercase text-center"> ثبت نام در تاکسی یاب</h2>
                            <!--<form id="signup2">-->
                            <div class="form-group">
                                <label><span class="req">*</span>نام و نام خانوادگی </label>
                                <input type="text" class="form-control" v-model="name_family" id="name_family" required data-validation-required-message="Please enter your name." autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label> ایمیل </label>
                                <input type="email" class="form-control" v-model="email" id="email" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label><span class="req">*</span> شماره موبایل </label>
                                <input type="tel" class="form-control" v-model="mobile" id="mobile" required data-validation-required-message="Please enter your phone number." autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label><span class="req">*</span> رمز عبور </label>
                                <input type="password" class="form-control" v-model="password" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label><span class="req">*</span> تکرار رمز عبور </label>
                                <input type="password" class="form-control" v-model="password_confirmation" id="password_confirmation" required data-validation-required-message="Please enter your password" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="mrgn-30-top">
                                <button v-on:click="sendSignup" class="btn btn-larger btn-block">
                                    ثبت نام
                                </button>
                            </div>
                            <!--</form>-->
                            <a v-on:click="toggle_show" class="login-signup-url" role="tab" data-toggle="tab">برای ورود از این لینک استفاده کنید</a>
                        </div>
                      <div class="tab-pane active in" id="forget" v-if="isForget" >
                        <h2 class="text-uppercase text-center"> فراموشی رمز عبور</h2>
                        <div class="form-group">
                          <label><span class="req">*</span> شماره موبایل </label>
                          <input type="tel" class="form-control" v-model="mobile" id="mobile" required data-validation-required-message="Please enter your phone number." autocomplete="off">
                          <p class="help-block text-danger"></p>
                        </div>
                        <div class="mrgn-30-top">
                          <button v-on:click="sendForget" class="btn btn-larger btn-block">
                            بازیابی رمز عبور
                          </button>
                        </div>
                        <!--</form>-->
                        <a v-on:click="toggle_show" class="login-signup-url" role="tab" data-toggle="tab">برای ورود از این لینک استفاده کنید</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</template>

<script>

    export default {
        name: "LoginSignup",
        data(){
            return{
                mobile: '',
                password: '',
                name_family: '',
                email: '',
                password_confirmation: '',
                isLogin: true,
                isForget: false,
            }
        },
        methods:{
            toggle_show(){
                this.isLogin = !this.isLogin;
                this.isForget = false;
                this.mobile='';
                this.password='';
                this.name_family='';
                this.email='';
                this.password_confirmation='';
            },
            show_forget(){
                this.isLogin = false;
                this.isForget = !this.isForget;
                this.mobile='';
                this.password='';
                this.name_family='';
                this.email='';
                this.password_confirmation='';
            },
            sendLogin(data) {
                this.$emit('send-login', this.$data);
            },
            sendSignup(data){
                this.$emit('send-signup', this.$data);
            },
            sendForget(data){
                this.$emit('send-forget', this.$data);
            }
        }
    }


    $(document).on('focusin', 'input', function (e) {
        var $this = $(this),
        label = $this.prev('label');
        label.addClass('active highlight');
    });

    $(document).on('focusout', 'input', function (e) {
        var $this = $(this),
            label = $this.prev('label');
        if ($this.val() === '') {
            label.removeClass('active highlight');
        }
    });
</script>

<style scoped>

</style>
