<template>
    <div id="form">
        <div class="taxi-gif" v-if="request_sent && !request_accepted">
            <span style="font-size: 20px;">درخواست سفر شما با موفقیت ارسال شد</span>
            <span class="bottom-desc">منتظر بمانید تا راننده ای درخواست شما را قبول نماید</span>
        </div>
        <trip-history v-if="trips_history.length" v-on:get-trip="getTrip"></trip-history>
        <transactions v-if="active_transactions"></transactions>
        <complete-info v-if="active_complete_info" v-on:save-info="saveInfo"></complete-info>
        <messages v-if="messages.length"></messages>
        <settings v-if="active_settings" v-on:save-settings="saveSettings"></settings>
        <ticket v-if="active_ticket" v-on:send-ticket="sendTicket"></ticket>
        <favorite-addresses v-if="active_favorite_address" v-on:remove-favorite-address="removeFavoriteAddress" v-on:save_favorite_address="saveFavoriteAddress"></favorite-addresses>
        <accept-trip v-show="request_accepted && !trip_finished" v-on:cancel-trip="cancelTrip" v-on:online-pay="onlinePay"></accept-trip>

        <!--</div>-->
        <div id="map" class="google-map" v-bind:id="mapName"></div>
        <div class="bg-sidebar" v-show="show_menu"  v-on:click="showRightMenu(false)"></div>
        <div class="right-sidebar" v-show="show_menu">
            <img class="taxi-logo" src="/static/taxi-logo.png" alt="">
            <h5>تاکسی یاب</h5>
            <hr>
            <div>
                <span>{{ $parent.user.name }}</span>
                <span id="j_birth_date" style="display: none;">{{ this.$parent.user.birth_date | moment('jYYYY/jM/jD') }}</span>
                <br>
                <span>{{ $parent.user.credit }} ریال</span>
            </div>
            <hr>
            <ul style="padding: 0;">
                <li v-on:click="setTransactions">
                    گردش حساب
                </li>
                <li v-on:click="tripHistory">
                    سفرها
                </li>
                <li v-on:click="active_complete_info=true">
                    تکمیل اطلاعات
                </li>
                <li v-on:click="getFavoriteAddress">
                    آدرس های منتخب
                </li>
                <li v-on:click="getMessages">
                    پیام ها
                </li>
                <li v-on:click="active_ticket=true">
                    پشتیبانی
                </li>
                <li v-on:click="getSettings">
                    تنظیمات
                </li>
                <li>
                    تغییر شهر
                </li>
                <li  v-on:click="logout">
                    خروج
                </li>
            </ul>
        </div>
        <div class="search-box">
            <div class="map-menu" v-on:click="showRightMenu(true)"><font-awesome-icon icon="bars" /></div>
            <div class="map-search">
                <input ref="autocomplete"
                       onfocus="value = ''"
                       type="text"
                       placeholder="جستجوی محله، آدرس و ..."/>
            </div>

            <div class="map-back" v-on:click="undo" v-if="source_selected"><font-awesome-icon icon="arrow-left" /></div>
        </div>

        <div class="bottom-section" v-bind:style="{opacity: destination_selected ? 1 : 0.84}">
            <div class="source-text">
                <b>مبدا : </b>
                <span>{{ source.text }}</span>
            </div>
            <div class="price-text">
                <div class="send-request-btn" v-on:click="sendTripRequest" v-if="!in_calculating && destination_selected">ارسال درخواست سفر</div>
                <b>قیمت : </b>
                <span v-if="!in_calculating && destination_selected"> {{ this.price? this.price+' ریال' : '' }}</span>

                <img style="width: 20%" src="/static/loading-page.gif" alt="" v-if="in_calculating">
            </div>
            <div class="destination-text">
                <b>مقصد : </b>
                <span>{{ destination.text }}</span>
            </div>
        </div>

        <score v-if="trip_finished && !$parent.registered_comment" v-on:save_score="saveScore"></score>
        <div v-if="$parent.payment_url">
            <div class="payment_alert_background"></div>
            <div class="payment_alert">
                <p>
                    اعتبار حساب شما کافی نیست
                </p>
                <a v-bind:href="$parent.payment_url" target="_blank" class="btn btn-y">پرداخت اینترنتی</a>
                <button v-on:click="$parent.payment_url = ''" class="btn btn-y">انصراف</button>
            </div>
        </div>

    </div>
</template>

<style>
    /**, *::after, *::before {*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*box-sizing: inherit;*/
    /*}*/

    /*body {*/
        /*background-color: #dcdde1;*/
        /*color: #2f3640;*/
        /*padding: 3rem;*/
    /*}*/

    .search-location {
        display: block;
        width: 60vw;
        margin: 0 auto;
        margin-top: 5vw;
        font-size: 20px;
        font-weight: 400;
        outline: none;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 10px;
    }
</style>

<script>

    import {Draggable} from 'draggable-vue-directive'
    import axios from 'axios';
    import { api_url } from "../../config/params";
    import {source_icon, selected_source_icon, destination_icon, selected_destination_icon} from "../assets/js/params";
    import AcceptTrip from "./accept-trip";
    import Score from "./score";
    import TripHistory from "./trip-history";
    import Transactions from "./transactions";
    import CompleteInfo from "./complete-info";
    import Messages from "./messages";
    import Settings from "./settings";
    import Ticket from "./ticket";
    import FavoriteAddresses from "./favorite-addresses";

    export default {
        components: {
            CompleteInfo,
            Transactions,
            TripHistory,
            AcceptTrip,
            Score,
            Messages,
            Settings,
            Ticket,
            FavoriteAddresses,
        },
        name: "mainApp",
        directives: {
            Draggable,
        },
        props: ['name'],
        data() {
            return {
                mapName: this.name + "-map",
                markerCoordinates: [{
                    latitude: 35.688698,
                    longitude: 51.392216
                }],
                source: {
                    text: '',
                    lat: '',
                    lng: '',
                },
                destination: {
                    text: '',
                    lat: '',
                    lng: '',
                },
                prices_list:{},
                source_selected: false,
                destination_selected: false,
                is_moving_marker: false,
                in_calculating: false,
                price: 0,
                source_marker: null,
                destination_marker: null,
                show_menu: false,
                request_sent: false,
                request_accepted: false,
                draggableValue: {
                    onPositionChange: this.onPosChanged
                },
                trip_started: false,
                trip_finished: false,
                cars: [],
                map: null,
                trips_history: [],
                transactions: [],
                messages: [],
                active_complete_info: false,
                active_settings: false,
                active_ticket: false,
                active_transactions: false,
                active_favorite_address: false,
                favorite_addresses: [],
                settings:{
                    receive_sms:false,
                    receive_email: false,
                    join_newsletter: false,
                    receive_transaction_sms: false
                }
            }
        },
        mounted: function () {
            let that = this;
            const element = document.getElementById(this.mapName);
            const options = {
                mapTypeId: 'roadmap',
                zoom: 14,
                center: new google.maps.LatLng(35.688698, 51.392216),
                disableDefaultUI: true,
            };
            this.map = new google.maps.Map(element, options);

            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.autocomplete),
                {types: ['geocode']}
            );
            this.autocomplete.addListener('place_changed', () => {
                let place = this.autocomplete.getPlace();
                let ac = place.address_components;
                let lat = place.geometry.location.lat();
                let lon = place.geometry.location.lng();
                let city = ac[0]["short_name"];

                let pos = new window.google.maps
                    .LatLng(lat, lon);
                that.map.setCenter(pos);
                if(!that.source_selected){
                    that.source_marker.setPosition(pos);
                }
                else if(!that.destination_selected){
                    that.destination_marker.setPosition(pos);
                }
            });


            this.markerCoordinates.forEach((coord) => {
                const position = new google.maps.LatLng(coord.latitude, coord.longitude);
                this.source_marker = new google.maps.Marker({
                    position: position,
                    icon: source_icon,
                    map: that.map,
                    draggable: true,
                });
                this.source_marker.addListener('click', function () {
                    debugger;
                    that.map.setZoom(13);
                    if (!that.source_selected) {
                        that.source_marker.setIcon(selected_source_icon);
                        that.source_marker.setDraggable(false);
                        that.source_selected = true;
                        that.source.lat = that.source_marker.internalPosition.lat();
                        that.source.lng = that.source_marker.internalPosition.lng();
                        that.source.text = 'tehran';

                        let geocoder = new google.maps.Geocoder;

                        let latlng = {lat: that.source.lat, lng: that.source.lng};
                        geocoder.geocode({'location': latlng}, function (results, status) {
                            if (status === 'OK') {
                                if (results[0]) {
                                    that.source.text = results[0].formatted_address;
                                }
                            }
                        });
                        geocoder.geocode({'location': latlng}, function (results, status) {
                            if (status === 'OK') {
                                if (results[0]) {
                                    that.source.text = results[0].formatted_address;
                                }
                            }
                        });


                        that.destination_marker = new google.maps.Marker({
                            position: position,
                            icon: destination_icon,
                            map: that.map,
                            draggable: true,
                        });

                        let dt = {
                            'origin_latitude': that.source_marker.internalPosition.lat(),
                            'origin_longitude': that.source_marker.internalPosition.lng()
                        };

                        let data = that.$parent.initialize_data(dt);
                        axios.post(api_url+'/trip/cars-around', JSON.stringify(data))
                            .then(response => {
                                if(response.data.success != false){
                                    that.cars = [];
                                    let items = response.data.data.carsAround;
                                    for(let i=0 ; i<items.length; i++){
                                        that.cars.push(
                                            {
                                                "lat": items[i].latitude,
                                                "long": items[i].longitude,
                                            }
                                        );

                                        const position = new google.maps.LatLng(items[i].latitude, items[i].longitude);
                                        this.source_marker = new google.maps.Marker({
                                            position: position,
                                            // icon: {
                                            //     url: '/static/map_car.png',
                                            //     rotation: 45
                                            // },
                                            icon: '/static/map_car.png',
                                            map: that.map,
                                            draggable: false,
                                        });
                                    }


                                }
                                else{
                                    this.showAlert(response.data.errors[0]);
                                }
                            })
                            .catch(e => {
                                this.errors.push(e)
                            });

                        // that.$emit('cars_around', dt);


                        that.destination_marker.addListener('click', function () {
                            debugger;
                            that.map.setZoom(13);
                            if (!that.destination_selected) {
                                that.destination_marker.setIcon(selected_destination_icon);
                                that.destination_marker.setDraggable(false);
                                that.destination_selected = true;
                                that.in_calculating = true;
                                that.destination.lat = that.destination_marker.internalPosition.lat();
                                that.destination.lng = that.destination_marker.internalPosition.lng();
                                let latlng = {lat: that.destination.lat, lng: that.destination.lng};
                                geocoder.geocode({'location': latlng}, function (results, status) {
                                    if (status === 'OK') {
                                        if (results[0]) {
                                            that.destination.text = results[0].formatted_address;

                                            let dt = {
                                                source_latitude:that.source.lat,
                                                source_longitude:that.source.lng,
                                                source_name:that.source.text,
                                                destination_latitude:that.destination.lat,
                                                destination_longitude:that.destination.lng,
                                                destination_name:that.destination.text,
                                                region:"",
                                                discount_code:""
                                            };

                                            that.$emit('calculate-cost', dt);
                                        }
                                    }
                                });
                            }

                        });
                    }
                });
            });
        },
        methods: {
            update_cars() {
                debugger;
                // let that = this;
                // this.cars.forEach((coord) => {
                //     const position = new google.maps.LatLng(coord.lat, coord.long);
                //     this.source_marker = new google.maps.Marker({
                //         position: position,
                //         icon: {
                //             url: '/static/map_car.png',
                //             rotation: 45
                //         },
                //         // icon: '/static/map_car.png',
                //         map: that.map,
                //         draggable: false,
                //     });
                // });
            },
            fixed_source() {
                if (!this.is_moving_marker) {
                    this.source_selected = true;
                    let left = $('#source_marker').css('left');
                    let top = $('#source_marker').css('top');
                    $('#source_selected_marker').css('left', left).css('top', top);
                }
            },
            fixed_destination() {
                if (!this.is_moving_marker) {
                    this.destination_selected = true;
                    let left = $('#destination_marker').css('left');
                    let top = $('#destination_marker').css('top');
                    $('#destination_selected_marker').css('left', left).css('top', top);
                }
            },
            onPosChanged: function (positionDiff, absolutePosition, event) {
                if (positionDiff.x != 0 && positionDiff.y != 0) {
                    this.is_moving_marker = true;
                } else {
                    this.is_moving_marker = false;
                }
            },
            undo() {
                if(this.destination_selected){
                    this.destination_selected = false;
                    this.destination = {
                        text: '',
                        lat: '',
                        lng: '',
                    };
                    this.prices_list = {};
                    this.destination_marker.setIcon(destination_icon);
                    this.destination_marker.setDraggable(true);
                }
                else if(this.source_selected){
                    this.source_selected = false;
                    this.source = {
                        text: '',
                        lat: '',
                        lng: '',
                    };
                    this.prices_list = {};
                    this.price = 0;
                    this.destination_marker.setMap(null);
                    this.source_marker.setIcon(source_icon);
                    this.source_marker.setDraggable(true);
                }
            },
            sendTripRequest(){
                this.request_sent = true;
                let dt = {
                    source_latitude:this.source.lat,
                    source_longitude:this.source.lng,
                    source_name:this.source.text,
                    destination_latitude:this.destination.lat,
                    destination_longitude:this.destination.lng,
                    destination_name:this.destination.text,
                    region:"",
                    discount_code:""
                };

                this.$emit('send-trip-request', dt);
            },
            saveScore(dt){
                this.$emit('save_score', dt);
            },
            cancelTrip(){
                this.$emit('cancel-trip');
            },
            onlinePay(){
                this.$emit('online-pay');
            },
            showRightMenu (status){
                this.show_menu = status;
            },
            logout(){
                this.$emit('logout');
            },
            tripHistory(){
                this.$emit('trip_history');
            },
            getTrip(dt){
                this.$emit('get-trip', dt);
            },
            setTransactions(){
                this.active_transactions = true;
                this.$emit('get-transactions');
            },
            saveInfo(){
                this.$emit('save-info');
            },
            getMessages(){
                this.$emit('get-messages');
            },
            getSettings(){
                this.active_settings = true;
                this.$emit('get-settings');
            },
            saveSettings(){
                this.active_settings = true;
                this.$emit('save-settings');
            },
            sendTicket(dt){
                this.$emit('send-ticket', dt);
            },
            getFavoriteAddress(){
                this.active_favorite_address = true;
                this.$emit('get-favorite-address');
            },
            removeFavoriteAddress(dt){
                this.$emit('remove-favorite-address', dt);
            },
            saveFavoriteAddress(dt){
                this.$emit('save-favorite-address', dt);
            }


        }

    }
</script>

<style scoped>
    .google-map {
        height: 100%;
        margin: 0 auto;
        background: gray;
    }
</style>
