<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">پیام های سیستم</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="close_form">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" v-for="item in $parent.messages">
                            <div class="col-md-12 message-box">
                                <div class="col-md-12 no-padding" style="border-bottom: 1px solid #ccc;">
                                    <div class="col-md-8 no-padding" style="text-align: right">{{ item.topic }}</div>
                                    <div class="col-md-4 no-padding" style="text-align: left">{{ item.date | moment('jYYYY/jM/jD') }}</div>
                                </div>
                                <div class="col-md-12 no-padding" style="text-align: right">{{ item.body }}</div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "messages",
        methods: {
            close_form() {
                this.$parent.messages = [];
            },
        }
    }
</script>

<style scoped>

</style>