<template>
    <div>
        <div class="payment_alert_background"></div>
        <div class="finish_alert">
            <h3>
                سفر به پایان رسید
            </h3>
            <div class="col-md-12" style="padding: 30px 0;">
                <div class="col-md-12 stars">
                    <font-awesome-icon icon="star" class="star_icon" rel="1" v-on:mouseover="fill_stars(1)" v-on:mouseleave="clear_stars()" v-on:click="click_star(1)"/>
                    <font-awesome-icon icon="star" class="star_icon" rel="2" v-on:mouseover="fill_stars(2)" v-on:mouseleave="clear_stars()" v-on:click="click_star(2)"/>
                    <font-awesome-icon icon="star" class="star_icon" rel="3" v-on:mouseover="fill_stars(3)" v-on:mouseleave="clear_stars()" v-on:click="click_star(3)"/>
                    <font-awesome-icon icon="star" class="star_icon" rel="4" v-on:mouseover="fill_stars(4)" v-on:mouseleave="clear_stars()" v-on:click="click_star(4)"/>
                    <font-awesome-icon icon="star" class="star_icon" rel="5" v-on:mouseover="fill_stars(5)" v-on:mouseleave="clear_stars()" v-on:click="click_star(5)"/>
                </div>
                <div class="col-md-12 comment_box" >
                    <div class="form-group">
                        <input type="checkbox" v-on:change="update_comment" class="comment_opt" rel="ظاهر و رفتار نامناسب راننده" id="opt1">
                        <label for="opt1">ظاهر و رفتار نامناسب راننده</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" v-on:change="update_comment" class="comment_opt" rel="وضعیت نامطلوب خودرو" id="opt2">
                        <label for="opt2">وضعیت نامطلوب خودرو</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" v-on:change="update_comment" class="comment_opt" rel="انتخاب مسیر و رانندگی نامناسب" id="opt3">
                        <label for="opt3">انتخاب مسیر و رانندگی نامناسب</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" v-on:change="update_comment" class="comment_opt" rel="درخواست دریافت هزینه بیشتر" id="opt4">
                        <label for="opt4">درخواست دریافت هزینه بیشتر</label>
                    </div>
                </div>
                <button class="btn btn-y" v-on:click="save_score">امتیاز دادن به راننده</button>
            </div>
            <button class="btn btn-y">تماس با پشتیبانی</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "score",
        data(){
            return {
                selected_star: 0,
                comment: ''
            }
        },
        methods: {
            fill_stars : function (number) {
                $('.stars .star_icon').css('color', '#2c3e50');
                for(let i=0; i<number ;i++)
                {
                    $($('.stars .star_icon')[i]).css('color', 'gold');
                }
            },
            clear_stars : function (number) {
                if(this.selected_star == 0){
                    $('.stars .star_icon').css('color', '#2c3e50');
                }else{
                    this.fill_stars(this.selected_star);
                }
            },
            click_star : function (number) {
                this.selected_star = number;
            },
            save_score : function () {
                let dt = {
                    driver_score : this.selected_star,
                    passenger_comment : this.comment,
                };

                this.$emit('save_score', dt);
            },
            update_comment : function () {
                let comment = [];
                let list_checkboxes = document.getElementsByClassName('comment_opt');
                for (let i=0 ; i<list_checkboxes.length; i++){
                    if(list_checkboxes[i].checked){
                        comment.push(list_checkboxes[i].getAttribute('rel'));
                    }
                }
                this.comment = comment.join(' - ');
            }
        }
    }
</script>

<style scoped>

</style>