<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">تنظیمات</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="close_form">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" v-bind:checked="$parent.settings.receive_email" v-on:change="update_settings" id="receive_email">
                                <label for="receive_email">دریافت ایمیل سفر</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" v-bind:checked="$parent.settings.join_newsletter" v-on:change="update_settings" id="join_newsletter">
                                <label for="join_newsletter">دریافت خبرنامه</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" v-bind:checked="$parent.settings.receive_sms" v-on:change="update_settings" id="receive_sms">
                                <label for="receive_sms">دریافت پیامک اطلاعات سفر</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" v-bind:checked="$parent.settings.receive_transaction_sms" v-on:change="update_settings" id="receive_transaction_sms">
                                <label for="receive_transaction_sms">دریافت پیامک تراکنش ها</label>
                            </div>
                        </div>
                        <button class="btn btn-success col-md-12" v-on:click="save_settings">ذخیره تنظیمات</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "settings",
        methods: {
            close_form() {
                this.$parent.active_settings = false;
            },
            update_settings() {
                this.$parent.settings.receive_sms = $('#receive_sms')[0].checked;
                this.$parent.settings.receive_email = $('#receive_email')[0].checked;
                this.$parent.settings.join_newsletter = $('#join_newsletter')[0].checked;
                this.$parent.settings.receive_transaction_sms = $('#receive_transaction_sms')[0].checked;
            },
            save_settings() {
                this.$emit('save-settings');
            },
        }
    }
</script>

<style scoped>
    input[type=checkbox] {
        width: 14px;
        height: 14px;
    }
</style>