<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ارسال تیکت پشتیبانی</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="close_form">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="collapse1_text">
                                                بسته ای در خودرو جا گذاشته ام
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="collapse2_text">
                                                رسید سفر را میخواهم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="collapse3_text">
                                                مشکلی با سوار شدن داشتم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="#">
                                                طولانی شدن زمان انتظار
                                            </a>
                                            <a href="#">
                                                راننده من سفر را لغو کرد
                                            </a>
                                            <a href="#">
                                                تفاوت در محل سوار شدن
                                            </a>
                                            <a href="#">
                                                مسافر دیگری در خودرو بود
                                            </a>
                                            <a href="#">
                                                موارد دیگر
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                مشکلی با خودرو داشتم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="#">
                                                نظافت خودرو
                                            </a>
                                            <a href="#">
                                                مشکلات فنی
                                            </a>
                                            <a href="#">
                                                تفاوت پلاک
                                            </a>
                                            <a href="#">
                                                عدم وجود نشانه های شرکت
                                            </a>
                                            <a href="#">
                                                موارد دیگر
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                مشکلی با راننده داشتم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="#">
                                                عدم استفاده از سیستم گرمایشی / سرمایشی
                                            </a>
                                            <a href="#">
                                                نا مناسب بودن صدای ظبط و رادیو
                                            </a>
                                            <a href="#">
                                                نظافت راننده
                                            </a>
                                            <a href="#">
                                                تفاوت راننده
                                            </a>
                                            <a href="#">
                                                عدم رعایت نکات ایمنی در رانندگی
                                            </a>
                                            <a href="#">
                                                چانه زنی
                                            </a>
                                            <a href="#">
                                                مکالمه زیاد
                                            </a>
                                            <a href="#">
                                                امتیازدهی اشتباهی
                                            </a>
                                            <a href="#">
                                                انتخاب مسیر اشتباه
                                            </a>
                                            <a href="#">
                                                ادب و حفظ احترام
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                                مشکلی با هزینه سفر دارم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="#">
                                                با محاسبه مجدد هزینه سفر مشکل دارم
                                            </a>
                                            <a href="#">
                                                مشکلی با هزینه سفر دارم
                                            </a>
                                            <a href="#">
                                                از اعتبار من هزینه بیشتری کسر شد
                                            </a>
                                            <a href="#">
                                                بعد از پرداخت آنلاین میزان اعتبار حساب من افزایش پیدا نکرد
                                            </a>
                                            <a href="#">
                                                کد تخفیف من نا معتبر است
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                                مشکلی با اپلیکیشن دارم
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <a href="#">
                                                درخواست سفر ارسال نمی شود
                                            </a>
                                            <a href="#">
                                                اپلیکیشن خود به خود بسته می شود
                                            </a>
                                            <a href="#">
                                                نقشه بارگذاری نمی شود
                                            </a>
                                            <a href="#">
                                                نمی توانستم اپلیکیشن را باز کنم
                                            </a>
                                            <a href="#">
                                                موارد دیگر
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                                پشتیبانی
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse8" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="send_ticket_modal" class="modal" style="overflow: scroll;" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ارسال تیکت پشتیبانی</h4>
                        <button type="button" class="close" data-dismiss="modal" >&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <h5 id="ticket_title">مشکلی با خودرو داشتم - تفاوت پلاک</h5>
                            <p>لطفاً برای هرچه سریعتر حل شدن موضوع شماره سفر و توضیحات تکمیلی خود را در کادر زیر وارد نمایید</p>
                            <textarea name="" id="ticket_body" cols="30" rows="10" class="form-control"></textarea>
                            <button class="btn btn-success col-md-12" v-on:click="send_ticket" style="margin-top: 10px">ارسال تیکت پشتیبانی</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ticket",
        mounted: function() {
            $('.panel-heading a').click(function(){
                $('.show').each(function () {
                    $(this).collapse("hide");
                });
                let id = $(this).attr('href');
                if($(id).children('.panel-body').children('a').length == 0){
                    let ticket_title = $(this).text();
                    $('#ticket_title').text(ticket_title);
                    $('#send_ticket_modal').modal('show');
                }
            });

            $('.panel-body a').click(function (){
                let ticket_title = $(this).parent().parent().parent().children('.panel-heading').children('.panel-title').children('a').text().trim();
                ticket_title += ' - '+$(this).text().trim();
                $('#ticket_title').text(ticket_title);
                $('#send_ticket_modal').modal('show');
            });
        },
        methods: {
            close_form() {
                this.$parent.active_ticket = false;
            },
            send_ticket(){
                let dt = {
                    category_text: $('#ticket_title').text(),
                    body:$('#ticket_body').val(),
                };
                this.$emit('send-ticket', dt);
                $('#send_ticket_modal').modal('hide');
            }
        }
    }



</script>

<style scoped>
    .panel-heading h4 {
        font-size: 16px;
    }
    h4 a{
        color: #000;
    }
    .panel-heading{
        background-color: #ff98005c;
        padding: 15px 0 6px;
        border: 1px solid #fff;
    }
    .panel-body a{
        display: block;
        background-color: #ffc1078c;
        padding: 10px 0 6px;
        border: 1px solid #fff;
        font-size: 14px;
        color: #000;
    }
</style>