<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">گردش حساب</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="clear_transactions">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" style="border: 1px solid #ccc;">
                            <thead>
                                <tr style="background: #4caf50;color: #FFF;">
                                    <td>شماره تراکنش</td>
                                    <td>مبلغ ریال</td>
                                    <td>تاریخ ثبت</td>
                                    <td>نوع تراکنش</td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in $parent.transactions">
                                <td>{{ item.id }}</td>
                                <td>{{ item.amount.toLocaleString() }}</td>
                                <td>{{ item.created_at }}</td>
                                <td style="font-weight: bold" v-bind:class="item.withdraw_deposit == 0 ? 'red_text' :'green_text'">{{ item.withdraw_deposit == 0 ? 'برداشت' :'واریز' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "transactions",
        methods: {
            clear_transactions() {
                this.$parent.active_transactions = false;
                this.$parent.transactions = [];
            }
        }
    }
</script>

<style scoped>

</style>
