<template>
    <div>
        <div class="bg_opacity" style="z-index: 198">></div>
        <!-- Modal -->
        <div id="myModal" class="modal" style="display: inline-block;overflow: scroll;z-index: 199" role="dialog">>
            <div class="modal-dialog modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">سفرها</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="clear_trip_history">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" style="border: 1px solid #ccc;">
                            <thead>
                                <tr style="background: #f6d457;color: #000;">
                                    <td>کد سفر</td>
                                    <td>مبدا</td>
                                    <td>مقصد</td>
                                    <td>مبلغ سفر</td>
                                    <td>تاریخ</td>
                                    <td>وضعیت</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in $parent.trips_history">
                                <td>{{ item.id }}</td>
                                <td>{{ item.source }}</td>
                                <td>{{ item.destination }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.order_status }}</td>
                                <td>
                                    <a style="color: #4caf50;" v-on:click="get_trip_details(item.id)">
                                        نمایش جزئیات
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div v-if="trip_details.trip_code">
            <div class="bg_opacity" style="z-index: 200"></div>
            <div class="modal" style="display: inline-block;overflow: scroll;z-index: 201" role="dialog">>
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">سفر شماره {{ trip_details.trip_code }}</h4>
                            <button type="button" class="close" data-dismiss="modal" v-on:click="clear_trip">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <h3 style="margin-bottom: 20px;">
                                    <span style="border-bottom: 2px solid #ccc; display: inline-block;padding: 5px 20px">
                                        مشخصات راننده
                                    </span>
                                </h3>
                                <div class="col-md-8" style="text-align: right">
                                    <span>نام و نام خانوادگی:</span>
                                    <b>{{ trip_details.driver_name }}</b>
                                    <br>
                                    <span>شماره تماس:</span>
                                    <b>{{ trip_details.driver_mobile }}</b>
                                    <br>
                                    <span>پلاک ماشین:</span>
                                    <b>{{ trip_details.driver_car_number.substring(10,6)+' '+trip_details.driver_car_number.substring(6,3)+' '+trip_details.driver_car_number.substring(3,2)+' '+trip_details.driver_car_number.substring(0,2) }} </b>
                                </div>
                                <div class="col-md-4">
                                    <img style="margin-bottom: 10px;width: 70px" v-bind:src="trip_details.driver_image" alt="">
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px">
                                <h3 style="margin-bottom: 20px;">
                                    <span style="border-bottom: 2px solid #ccc; display: inline-block;padding: 5px 20px">
                                        مشخصات سفر
                                    </span>
                                </h3>
                                <div class="col-md-12" style="text-align: right">
                                    <b>مبدا:</b>
                                    <span>{{ trip_details.source }}</span>
                                    <br>
                                    <b>مقصد:</b>
                                    <span>{{ trip_details.destination }}</span>
                                    <br>
                                    <b>تاریخ:</b>
                                    <span>{{ trip_details.date }} </span>
                                    <br>
                                    <b>مبلغ سفر:</b>
                                    <span>{{ trip_details.price }} </span>
                                    <br>
                                    <b>وضعیت سفر:</b>
                                    <span>{{ trip_details.status }} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "trip-history",
        data(){
            return {
                trip_details : {}
            }
        },
        methods: {
            get_trip_details(trip_id) {
                let dt = {id:trip_id};
                this.$emit('get-trip', dt)
            },
            clear_trip_history() {
                this.$parent.trips_history = [];
            },
            clear_trip() {
                this.trip_details = {};
            }
        }
    }
</script>

<style scoped>

</style>