<template>
    <div id="app">
        <div id="main-bg">
            <login-signup v-on:send-login="loggedIn" v-on:send-signup="signedUp" v-on:send-forget="sendForget" v-if="!is_authenticated"></login-signup>
            <main-app name="example" v-if="is_authenticated"
                v-on:calculate-cost="calculateTripCost"
                v-on:send-trip-request="sendTripRequest"
                v-on:logout="logout"
                v-on:cancel-trip="cancelTrip"
                v-on:online-pay="onlinePay"
                v-on:save_score="saveScore"
                v-on:cars_around="get_cars_around"
                v-on:trip_history="tripHistory"
                v-on:get-trip="getTrip"
                v-on:get-transactions="getTransactions"
                v-on:save-info="saveInfo"
                v-on:get-messages="getMessages"
                v-on:get-settings="getSettings"
                v-on:save-settings="saveSettings"
                v-on:send-ticket="sendTicket"
                v-on:get-favorite-address="getFavoriteAddress"
                v-on:remove-favorite-address="removeFavoriteAddress"
                v-on:save-favorite-address="saveFavoriteAddress"
            ></main-app>
        </div>
    </div>
</template>

<script>
    import LoginSignup from "./components/login-signup";
    import mainApp from "./components/main-app";

    import axios from 'axios';
    import { api_url, server_url } from "../config/params";
    import { source_icon } from "./assets/js/params";
    import { error_messages } from "../config/error-message";
    import Score from "./components/score";


    export default {
        data(){
            return{
                is_authenticated: false,
                user: {
                    user_id: 0,
                    user_token: '',
                    name: '',
                    birth_date: '',
                    address: '',
                    email: '',
                    mobile: '',
                    phone: '',
                    gender: '',
                    credit: 0,
                },
                api_token: '',
                trip_code: 0,
                payment_url: '',
                registered_comment: false
            }
        },
        mounted(){
            this.api_token = this.get_cookie('api_token');
            if(!this.get_cookie('api_token')){
                this.api_token = this.get_api_token();
            }
            let user_id = this.get_cookie('user_id');
            if(user_id){
                this.user.user_id = this.get_cookie('user_id');
                this.user.user_token = this.get_cookie('token');
                this.get_user({id: user_id, token: this.user.user_token});
                this.get_last_trip();
            }
        },
        name: 'App',
        components: {
            Score,
            LoginSignup,
            mainApp,
        },
        methods:{
            loggedIn(item){
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/user-passenger/login', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.is_authenticated = true;
                            that.user.user_id = response.data.data.userId;
                            that.user.token = response.data.data.token;

                            document.cookie = "user_id="+response.data.data.userId;
                            document.cookie = "token="+response.data.data.token;

                            window.location = '/';
                            // let item = {
                            //     id: response.data.data.userId,
                            //     token: response.data.data.token,
                            // };
                            // that.get_user(item);
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            },
            signedUp(item){
                let data = this.initialize_data(item);
                axios.post(api_url+'/user-passenger/create', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            this.showAlert('حساب کاربری شما با موفقیت ایجاد شد');
                            this.$children[0].toggle_show();
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            },
            sendForget(item){
                let data = this.initialize_data(item);
                axios.post(api_url+'/user-passenger/change-password', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            this.showAlert('رمز عبور جدید برای شما ارسال شد');
                            this.$children[0].toggle_show();
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            },
            calculateTripCost(item){
                item.id = this.user.user_id;
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/trip/new-calculate-trip-cost', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.$children[0].prices_list = response.data.data.services_cost;
                            that.$children[0].price = response.data.data.services_cost[1].price;
                            that.$children[0].in_calculating = false;
                            $('.bottom-section').css('opacity', 1);
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });
            },
            sendTripRequest(item){
                item.id = this.user.user_id;
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/trip/new-send-trip-request', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            this.trip_code = response.data.data.tripData.trip_code;
                            // alert('درخواست سفر با موفقیت ارسال شد. کد سفر:'+response.data.data.tripData.trip_code);
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });
            },
            cancelTrip(){
                let item = {trip_code:this.trip_code};
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/user-passenger/abolish-trip-by-passenger ', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.clear_app();
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });
            },
            clear_app(){
                this.trip_code = 0;
                this.registered_comment = false;
                this.$children[0].request_accepted = false;
                this.$children[0].trip_finished = false;
                this.$children[0].request_sent = false;
                this.$children[0].destination_selected = false;
                this.$children[0].source_selected = false;
                this.$children[0].source= {
                    text: '',
                    lat: '',
                    lng: '',
                };
                this.$children[0].destination= {
                    text: '',
                    lat: '',
                    lng: '',
                };
                this.$children[0].prices_list = {};
                this.$children[0].destination_marker.setMap(null);
                this.$children[0].source_marker.setIcon(source_icon);
                this.$children[0].source_marker.setDraggable(true);

                this.$children[0].$children[0].accepted_driver = false;
            },
            onlinePay(){
                if(this.user.credit >= this.$children[0].price)
                {
                    let item = {
                        token: this.user.user_token,
                        trip_id: this.trip_code,
                    };
                    let data = this.initialize_data(item);
                    let that = this;
                    axios.post(api_url+'/trip/pay-fare', JSON.stringify(data))
                        .then(response => {
                            if(response.data.success != false){
                                that.$children[0].$children[0].is_paied = true;
                                alert('پرداخت شما با موفقیت انجام شد')
                            }
                            else{
                                this.showAlert(response.data.errors[0]);
                            }
                        })
                        .catch(e => {
                            this.errors.push(e)
                        });
                }
                else{
                    this.deposit_credit(this.$children[0].price);
                }

            },
            logout(){
                let cookies = document.cookie.split(";");

                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i];
                    let eqPos = cookie.indexOf("=");
                    let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                }
                this.is_authenticated = false;
                this.user.user_id = 0;
                this.user.user_token = '';
                this.$socket.disconnect();
            },
            get_user(item){
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/user-passenger/get-passenger', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.user.name = response.data.data.name_family;
                            that.user.credit = response.data.data.credit;
                            that.user.birth_date = response.data.data.birth_date;
                            that.user.address = response.data.data.address;
                            that.user.email = response.data.data.email;
                            that.user.mobile = response.data.data.mobile;
                            that.user.phone = response.data.data.phone;
                            that.user.gender = response.data.data.gender;
                            this.is_authenticated = true;
                        }
                        else{
                            if(response.data.errors[0] == 106){
                                that.logout();
                                window.location = '/';
                            }
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            getMessages(){
                let data = this.initialize_data({});
                let that = this;
                axios.post(api_url+'/user-passenger/get-messages', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            this.$children[0].messages = response.data.data.notifications;
                        }
                        else{
                            if(response.data.errors[0] == 120){
                                this.showAlert('هیچ پیامی وجود ندارد');
                            }else{
                                this.showAlert(response.data.errors[0]);
                            }
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            get_last_trip(){
                let data = this.initialize_data({id: this.user.user_id});
                let that = this;
                axios.post(api_url+'/user-passenger/get-last-trip', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let trip_data = response.data.data.trip;
                            if(trip_data.order_status == 'tripOfferAccepted' || trip_data.order_status == 'tripStarted'){
                                this.trip_code = trip_data.id;

                                that.set_trip(trip_data.id);
                                this.$children[0].request_accepted = true;
                                that.get_driver(trip_data.user_driver);

                            }
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            tripHistory(){
                let data = this.initialize_data({id: this.user.user_id});
                let that = this;
                axios.post(api_url+'/user-passenger/trip-history', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let trips = response.data.data.trips;
                            that.$children[0].trips_history = trips;
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            getTrip(item){
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/trip/get-trip', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let trip = response.data.data;
                            trip.driver_image = server_url+'/web/Uploads/DriverAttachments/'+trip.driver_image;
                            that.$children[0].$children[1].trip_details = trip;
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            getFavoriteAddress(){
                let data = this.initialize_data({user_id:this.user.user_id});
                let that = this;
                axios.post(api_url+'/user-passenger/get-favorite-address-list', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.$children[0].favorite_addresses = response.data.data.addresses;
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            removeFavoriteAddress(dt){
                let data = this.initialize_data({
                    id: dt.id,
                    user_id: this.user.user_id
                });
                let that = this;
                axios.post(api_url+'/user-passenger/delete-favorite-address', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let fav_addresses = that.$children[0].favorite_addresses;
                            let f_ad = [];
                            for(let i=0; i<fav_addresses.length; i++){
                                if(fav_addresses[i].id != dt.id){
                                    f_ad.push(fav_addresses[i]);
                                }
                            }
                            that.$children[0].favorite_addresses = f_ad;
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            saveFavoriteAddress(item){
                let dt = {
                    title: item.title,
                    address: item.address,
                    latitude: item.latitude,
                    longitude: item.longitude,
                    user_id: this.user.user_id,
                };
                if(item.id){
                    dt.id = item.id
                }

                let data = this.initialize_data(dt);
                let that = this;
                axios.post(api_url+'/user-passenger/add-update-favorite-address', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            debugger;
                            if(item.id){
                                for(let i=0; i<that.$children[0].favorite_addresses.length; i++){
                                    if(that.$children[0].favorite_addresses[i].id == dt.id){
                                        that.$children[0].favorite_addresses[i] = response.data.data.address;
                                    }
                                }
                            }
                            else{
                                that.$children[0].favorite_addresses.push(response.data.data.address);
                            }
                            this.showAlert('آدرس با موفقیت ثبت شد');
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            getTransactions(){
                let data = this.initialize_data({id: this.user.user_id});
                let that = this;
                axios.post(api_url+'/user-passenger/transaction-history', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let trips = response.data.data.transactions;
                            that.$children[0].transactions = trips;
                        }
                        else{
                            // this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            get_cars_around(item){
                let data = this.initialize_data(item);
                let that = this;
                axios.post(api_url+'/trip/cars-around', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.$children[0].cars = [];
                            let items = response.data.data.carsAround;
                            for(let i=0 ; i<items.length; i++){
                                that.$children[0].cars.push(
                                    {
                                        "lat": items[i].latitude,
                                        "long": items[i].longitude,
                                    }
                                );
                            }

                            that.$children[0].update_cars();
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            set_trip(trip_id){
                let data = this.initialize_data({id: trip_id});
                let that = this;
                axios.post(api_url+'/trip/get-trip', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let trip_data = response.data.data;
                            that.$children[0].price = trip_data.price;
                            that.$children[0].source= {
                                text: trip_data.source,
                                lat: trip_data.source_latitude,
                                lng: trip_data.source_longitude,
                            };
                            that.$children[0].destination= {
                                text: trip_data.destination,
                                lat: trip_data.destination_latitude,
                                lng: trip_data.destination_longitude,
                            };
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                    });
            },
            saveScore(item){
                let dt = {
                    driver_score: item.driver_score,
                    passenger_comment: item.passenger_comment,
                    trip_code: this.trip_code
                };
                let data = this.initialize_data(dt);
                let that = this;
                axios.post(api_url+'/score/give-driver-score', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.registered_comment = true;
                            that.clear_app();
                            this.showAlert('نظر شما با موفقیت ثبت شد');
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                    });
            },
            sendTicket(item){
                let dt = {
                    user_id: this.user.user_id,
                    category_text: item.category_text,
                    body: item.body,
                };
                let data = this.initialize_data(dt);
                let that = this;
                axios.post(api_url+'/user-passenger/submit-ticket', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.$children[0].active_ticket = false;
                            this.showAlert('تیکت شما با موفقیت ثبت شد');
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                    });
            },
            saveInfo(){
                let dt = {
                    id:this.user.user_id,
                    name_family:this.user.name,
                    email:this.user.email,
                    mobile:this.user.mobile,
                    gender:this.user.gender,
                    birth_date:this.user.birth_date,
                    phone:this.user.phone,
                    address:this.user.address,
                };
                let data = this.initialize_data(dt);
                let that = this;
                axios.post(api_url+'/user-passenger/update-passenger', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.showAlert('اطلاعات با موفقیت ثبت شد');
                            that.$children[0].active_complete_info = false;
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                    });
            },
            get_driver(driver_id){
                let data = this.initialize_data({id: driver_id});
                let that = this;
                axios.post(api_url+'/user-driver/get-driver', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            let driver = response.data.data;
                            that.$children[0].$children[0].accepted_driver = {
                                full_name: driver.name + ' ' + driver.family,
                                image: server_url+'/web/Uploads/DriverAttachments/'+ driver.driver_photo,
                                mobile: driver.mobile,
                                car: driver.car_model,
                                car_number: driver.car_number
                            };
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                            return {};
                        }
                    })
            .catch(e => {
                        this.errors.push(e);
                        return {};
                    });
            },
            getSettings(){
                let data = this.initialize_data({id: this.user.user_id});
                let that = this;
                axios.post(api_url+'/user-passenger/get-settings', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.$children[0].settings.receive_sms = response.data.data.settings.receive_sms;
                            that.$children[0].settings.receive_email = response.data.data.settings.receive_email;
                            that.$children[0].settings.join_newsletter = response.data.data.settings.join_newsletter;
                            that.$children[0].settings.receive_transaction_sms = response.data.data.settings.receive_transaction_sms;
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                            return {};
                        }
                    })
            .catch(e => {
                        this.errors.push(e);
                        return {};
                    });
            },
            saveSettings(){
                let data = this.initialize_data({
                    id: this.user.user_id,
                    receive_sms:this.$children[0].settings.receive_sms? 1: 0,
                    receive_email:this.$children[0].settings.receive_email? 1: 0,
                    join_newsletter:this.$children[0].settings.join_newsletter? 1: 0,
                    receive_transaction_sms:this.$children[0].settings.receive_transaction_sms? 1: 0
                });
                let that = this;
                axios.post(api_url+'/user-passenger/save-settings', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.showAlert('تنظیمات با موفقیت ثبت شد');
                            that.$children[0].active_settings = false;
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                            return {};
                        }
                    })
            .catch(e => {
                        this.errors.push(e);
                        return {};
                    });
            },
            deposit_credit(amount){
                let data = this.initialize_data({
                    amount: amount,
                    passenger_id: this.user.user_id,
                });
                let that = this;
                axios.post(api_url+'/payment/deposit-passenger', JSON.stringify(data))
                    .then(response => {
                        if(response.data.success != false){
                            that.payment_url = response.data.data.payment_url;
                        }
                        else{

                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                    });
            },
            get_api_token(){
                let that = this;
                axios.get(api_url+'/api-token/get-api-token')
                    .then(response => {
                        if(response.data != ''){
                            that.api_token = response.data;
                            document.cookie = "api_token="+response.data;
                        }
                        else{
                            this.showAlert(response.data.errors[0]);
                        }
                    })
                    .catch(e => {
                        this.errors.push(e)
                    });


            },
            showAlert(error){
                if(Number.isInteger(error)){
                    this.$swal(error_messages[error]);
                }
                else{
                    this.$swal(error);
                }
            },
            raise_alert(error){
                if(Number.isInteger(error)){
                    alert(error_messages[error]);
                }
                else{
                    alert(error)
                }
            },
            initialize_data(data){
                data.key = this.api_token;
                return data;
            },
            get_cookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        },
        created(){
            let that = this;
            this.$socket.on('tripaccepted', function(data){
                that.$children[0].accepted_driver = true;
                that.$children[0].request_accepted = true;
                that.$children[0].$children[0].accepted_driver = data.driver;
            });
            this.$socket.on('tripcancel', function(data){
                that.showAlert('راننده سفر را لغو کرد');
                that.clear_app();
            });
            this.$socket.on('driverarrived', function(data){
                that.showAlert('راننده به مبدأ رسید');
            });
            this.$socket.on('tripstart', function(data){
                that.showAlert('سفر با موفقیت شروع شد');
                that.$children[0].trip_started = true;
            });
            this.$socket.on('tripfinish', function(data){
                that.$children[0].trip_finished = true;
            });
        },
    }
</script>

<style>
    @import '../node_modules/bootstrap/dist/css/bootstrap.css';
    @import './assets/css/bootstrap-rtl.min.css';
    @import './assets/css/style.css';

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        /*margin-top: 60px;*/
    }
</style>
